@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    z-index: 999;
    min-width: 1040px;
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color: #8e1717;
    display: block;
    unicode-bidi: isolate;
}
header p {
    text-align: center;
    margin: 10px 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
a img {
    opacity: 1;
    transition: .3s;
    overflow-clip-margin: content-box;
    overflow: clip;
}


body {
    font-family: "游明朝体", "Yu Mincho", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-size: 16px;
    line-height: 1.8;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    font-weight: bold;
}


.main_img {
    margin-top: 55px;
    background-image: url(../img/main_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.main_img h1 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


.introArea {
    text-align: center;
    margin: 40px auto;
    width: 1000px;
    overflow: hidden;
}
.introArea .notice {
    color: #be4125;
    font-size: 14px;
    margin-bottom: 40px;
    border: 1px #be4125 solid;
    padding: 25px;
}
.introArea p {
    margin: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.introArea p span {
    color: #be4125;
    font-size: 20px;
}


.cam_bnr {
    overflow: hidden;
    background-color: #f4ebdc;
}
.main {
    margin: 40px auto;
    width: 1000px;
    overflow: hidden;
}


.kodawari .kodawari-title {
    text-align: center;
    width: 960px;
    height: 248px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px auto;
}
.kodawari .kodawari-title h2 {
    font-size: 24px;
    text-decoration: underline;
}
.kodawari .kodawari-title h2 span {
        color: #be4125;
}
.kodawari1 {
    text-align: center;
}
.kodawari2 {
    text-align: center;
}
.kodawari3 {
    text-align: center;
}
.kodawari4 {
    text-align: center;
}


.chaba .chaba-title {
    text-align: center;
    width: 1000px;
    height: 309px;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 40px auto;
    padding-top: 180px;
}
.chaba .chaba-title h2 {
    font-size: 24px;
}
.chaba .chaba-title h2 span {
    color: #be4125;
}

.chaba1 {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto 80px;
}
.jukucha-image {
    float: left;
    margin-right: 28px;
}
.jukucha-text {
    overflow: hidden;
    float: left;
    width: 607px;
}
.jukucha-text p {
    margin-bottom: 20px;
}
.jukucha-tokuchou {
    border: 1px solid #7e3f1d;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.chaba2 {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto 80px;
}
.namacha-image {
    float: right;
    margin-right: 28px;
}
.namacha-text {
    overflow: hidden;
    float: left;
    width: 580px;
}
.namacha-text p {
    margin-bottom: 20px;
}
.namacha-text span {
    background-color: #ffff00;
}
.namacha-tokuchou {
    border: 1px solid #32793c;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.chaba3 {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto 80px;
}
.roucha-image {
    float: left;
    margin-right: 28px;
}
.roucha-text {
    overflow: hidden;
    float: left;
    width: 607px;
}
.roucha-text p {
    margin-bottom: 20px;
}
.roucha-text span {
    background-color: #ffff00;
}
.roucha-tokuchou {
    border: 1px solid #7e3f1d;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}


.biyou {
    overflow: hidden;
    width: 1000px;
    text-align: center;
    margin: 50px auto;
}
.biyou h3 {
    margin-bottom: 20px;
}
.biyou ul li {
    width: 230px;
    list-style: none;
    float: left;
    margin-right: 20px;
    margin-top: 30px;
}


.taikan-title {
    overflow: hidden;
    text-shadow: 2px 2px 1px #000;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.taikan-text p {
    margin-bottom: 20px;
    text-align: center;
}

.taikan1 {
    overflow: hidden;
    width: 1000px;
    margin: 40px auto 0;
    background: rgba(253, 223, 176, 0.8);
}
.taikan1-textarea {
    overflow: hidden;
    padding: 30px;
}
.taikan1-text {
    width: 518px;
    margin-right: 30px;
    float: left;
}
.taikan1-text h4 {
    font-size: 20px;
    color: #be4125;
    border-bottom: 1px solid #be4125;
    margin: 15px 0 10px;
}
.taikan1-text p span {
    background-color: #ffff00;
}

.taikan2 {
    overflow: hidden;
    width: 1000px;
    margin: 40px auto 0;
    background: rgba(253, 223, 176, 0.8);
}
.taikan2-textarea {
    overflow: hidden;
    padding: 30px;
}
.taikan2-text {
    width: 518px;
    margin-right: 30px;
    float: left;
}
.taikan2-text h4 {
    font-size: 20px;
    color: #be4125;
    border-bottom: 1px solid #be4125;
    margin: 15px 0 10px;
}
.taikan2-text p span {
    background-color: #ffff00;
}


.review {
    overflow: hidden;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.review-title {
    margin-bottom: 20px;
}
.review-text {
    margin-bottom: 10px;
}
.review-list ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.review-list ul li {
    width: 320px;
    height: 295px;
}
.review-list ul li h4 {
    border-left: 3px solid #d0735f;
    font-size: 20px;
    padding-left: 10px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.review-list ul li .reviewer {
    bottom: 20px;
}


.gyosya {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    width: 1000px;
    text-align: center;
    margin: 50px auto;
    background-color: #f4a460;
}
.gyosya-image {
    margin-right: 500px;
}
.gyosya-text {
    margin-left: 27px;
    width: 473px;
    color: white;
}
.gyosya-text h3 {
    margin: 30px 0 20px 0;
}
.gyosya-text p {
    margin-bottom: 20px;
}


.inquiry {
    overflow: hidden;
    width: 1000px;
    text-align: center;
    margin: 50px auto;
}
.inquiry p {
    text-align: center;
    margin-bottom: 30px;
}
.inquiry-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.inquiry-img2 {
    margin-left: 40px;
    border-radius: 10px;
    background-color: #43362a;
    padding: 44px;
}


.campaign {
    position: relative;
    background: #810a0a;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}


.present {
    position: relative;
    overflow: hidden;
    width: 1000px;
    text-align: center;
    margin: 50px auto;
}
.present-text p {
    text-align: center;
    margin-bottom: 30px;
}
.present-flow {
    margin: 80px 0 0;
}
.present-flow p {
    text-align: center;
    margin-bottom: 30px;
}
.present-flow ul {
    display: flex;
    overflow: hidden;
    margin-bottom: 40px;
}
.present-flow ul li {
    width: 25%;
    border: 1px solid #c9c9c9;
    padding: 20px 10px;
    list-style: none;
}
.present-flow ul li p {
    text-align: left;
    margin-bottom: 15px;
}
.present-flow ul li p img {
    width: 100%;
}
.present-flow ul li p span {
    color: #810a0a;
}


.form {
    padding: 50px;
    border-left: 4px solid #c2af7c;
    border-right: 4px solid #c2af7c;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.form-text {
    text-align: center;
}
.form-text h2 {
    font-size: 30px;
    font-weight: bold;
}
.form-input{
    overflow: hidden;
    padding: 25px 0;
    border-bottom: solid 1px #bfbfbf;
}
.form {
  width: 1000px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Noto Sans JP", sans-serif;
}
.form-text h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
  text-align: center;
}
.form-text p {
  font-size: 0.95em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.form-input .required {
    color: #ff0000;
    margin-left: 5px;
}
.form-input .note {
    color: #8b0000;
}
.form-input p span {
  display: block;
  font-size: 0.85em;
  color: #666;
  margin-top: 5px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
label span {
  color: red;
  font-size: 0.9em;
  margin-left: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}
input[type="radio"] {
  margin-right: 5px;
}
.form-input p input[type="radio"] + label {
  display: inline-block;
  margin-right: 20px;
}
textarea {
  resize: vertical;
}
input[type="checkbox"] {
    margin: auto;
    font-size: 30px;
}
input[type="submit"] {
  background-color: #8e1717;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #a52a2a;
}
.center {
  text-align: center;
}


.footer-link {
    text-align: center;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    font-weight: 400;
    margin-top: 80px;
}
.footer-link .link-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-link .link-item {
    padding: 8px;
}
.footer-link .link-item a {
    text-decoration: underline;
    color: #2196F3;
}


footer {
    text-align: center;
    font-size: 12px;
    margin: 50px 0 20px;
}